/* Archive Pages */
body.archive,
body.blog {
	#page {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"header"
			"main"
			"sidebar"
			"footer";

		& > #masthead {
			grid-area: header;
		}

		& > #primary {
			grid-area: main;
		}

		& > #secondary {
			grid-area: sidebar;
		}

		& > #colophon {
			grid-area: footer;
		}
	}

	@media screen and (min-width: 37.5em) {
		#page {
			grid-template-columns: 75% 25%;
			grid-template-areas:
				"header header"
				"main sidebar"
				"footer footer";
		}
	}
}
