.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}
ul.wp-block-latest-posts__list,
ul.wp-block-archives-list,
ul.wp-block-categories-list,
.widget_meta ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
